<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>North Conference Room</title>
  <style>
	body, html {
	  height: 100%;
	  overflow: hidden;
	}

	.bg {
	  /* The image used */
	  background-image: url("image.png");

	  /* Full height */
	  height: 100%;

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}  
  </style>
  
</head>
<body class="bg" style="display:grid;align-items:center;justify-content:center;">
<div style="display:block;margin-top:20%;text-align:center;color:#eee;font-family:Helvetica,Arial,sans;font-size:128px;font-weight:bold;-webkit-text-stroke:3px black;">
	Welcome<br/>Dencar Technology
</div>
<div style="display:block;text-align:center;color:#eee;font-family:Helvetica,Arial,sans;font-size:64px;font-weight:bold;-webkit-text-stroke:3px black;">
	February 29, 2024
</div>
</body>
</html>
